<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.fgbokg.org.mapper.EmployeeMapper">

    <!-- 根据id加载员工 -->
    <select id="loadOne" resultType="Employee">
        SELECT * FROM t_employee WHERE id = #{id}
    </select>

    <!-- 加载所有员工 -->
    <select id="loadAll" resultType="Employee">
        SELECT * FROM t_employee
    </select>

    <!-- 根据员工名查询员工对象 -->
    <select id="loadByUsername" resultType="Employee">
        SELECT * FROM t_employee WHERE username = #{username}
    </select>

    <!-- 添加员工 -->
    <insert id="save" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        insert into t_employee(username, email, phone, salt, password, age, state, department_id, shop_id,logininfo_id)
        values (
          #{username},
          #{email},
          #{phone},
          #{salt},
          #{password},
          #{age},
          #{state},
          #{department.id},
          #{shop.id},
          #{logininfo_id}
        );
    </insert>

    <!-- 修改员工数据 -->
    <update id="update">
        UPDATE t_employee
        SET username = #{username}, email = #{email}, phone = #{phone}, salt = #{salt}, password = #{password}, age = #{age},
            state = #{state}, department_id = #{department.id}, logininfo_id = #{logininfo.id}, shop_id = #{shop.id}
        WHERE id = #{id}
    </update>

    <!-- 删除员工 -->
    <delete id="remove">
        DELETE FROM t_employee WHERE id = #{id}
    </delete>

    <!-- 批量删除 -->
    <delete id="patchDelete">
        DELETE FROM t_employee WHERE id IN
        <foreach collection="list" separator="," open="(" close=")" item="id">
            #{id}
        </foreach>
    </delete>

    <!-- 分页查询-查询总条数 -->
    <select id="queryCount" resultType="long">
        SELECT count(*) FROM t_employee
        <include refid="whereSql"></include>
    </select>

    <sql id="whereSql">
        <where>
            <if test="keyword !=null and '' != keyword">
                AND username LIKE concat("%",#{keyword},"%")
            </if>
        </where>
    </sql>

    <!-- 分页查询-查询每页的数据 -->
    <select id="queryList" resultType="Employee">
        SELECT * FROM t_employee
        <include refid="whereSql"></include>
        limit #{begin}, #{pageSize}
    </select>

</mapper>